body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.header{
    padding: 20px 0px 20px 0px;
    color: #000000;
}

.top-nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.top-nav ul li{
    display: inline;
    float: right;
}

.top-nav ul li a{
    display: block;
    color: #000000;
    font: 13px arial, sans-serif;
    text-align: center;
    text-decoration: none;
    padding: 14px 14px;
}

.top-nav ul li a:hover{
    text-decoration: underline;
}

section{
    display: block;
    text-align: center;
    padding: 50px;
    margin: 50px;
}

input{
    text-align: center;
    padding: 12px 0px 12px 0px;
    width: 60%;
    border-radius: 10px;
    cursor: pointer;

}

i{
    height: 40px;
    padding: 0 8px;
}

button{
    background: rgb(7, 42, 240);
    border: none;
    border-radius: 3px;
    padding: 3px 10px;
}

.btn{
    background: rgb(40, 76, 240);
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
}

.footer{
    position: fixed;
    bottom: 0;
}

.footer-nav{
    display: inline-block;
    background: whitesmoke;
    width: 100vw;
    border-top: 1px solid grey;
}

.footer-nav ul{
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
}

.footer-nav ul li{
    display: inline;
    float: right;
}

.footer-nav ul li a{
    display: block;
    font: 13px arial, sans-serif;
    padding: 14px 14px;
    color: #000000;
    text-decoration: none;
}

.footer-nav ul li a:hover{
    text-decoration: underline;
}


